<div class="row">
    <div class="col m4"></div>
    <div class="input-field col s12 m4">
        <form id="form_exportar">
            <h5>Exportar a:</h5>
            <select id="exportar">
                <option value="" disabled selected>Seleccione una opción</option>
                <option value="csv">Archivos .csv</option>
                <option value="xlsx">Archivos .xlsx</option>
                <option value="sql">Archivos .sql</option>
            </select>
        
            <div class="right-align">
                <button type="submit" class="waves-effect waves-light btn-small"><i
                        class="material-icons right">send</i>Enviar</button>
            </div>
        </form>
    </div>
    <div class="col m4"></div>
</div>

<div class="row">
    <div class="col m4"></div>
    <div class="col m4 center" id="content"></div>
    <div class="col m4"></div>
</div>

<div id="script"></div>