<nav>
    <div class="nav-wrapper grey darken-3">
        <a href="#" class="brand-logo"> {{ title }}</a>
        <ul class="right hide-on-med-and-down">
            <li><a id="btn_datos" href="#" class="tooltipped" data-position="bottom" data-tooltip="Fuente de datos"><i class="material-icons">backup</i></a></li>
            <li><a id="btn_graficos" href="#" class="tooltipped" data-position="bottom" data-tooltip="Gráficos"><i class="material-icons">timeline</i></a></li>
            <li><a id="btn_limpieza" href="#" class="tooltipped" data-position="bottom" data-tooltip="Limpieza de datos"><i class="material-icons">brush</i></a></li>
            <li><a id="btn_consulta_info" href="#" class="tooltipped" data-position="bottom" data-tooltip="Consultas de información"><i class="material-icons">search</i></a></li>
            <li><a id="btn_exportar" href="#" class="tooltipped" data-position="bottom" data-tooltip="Exportar"><i class="material-icons">cloud_download</i></a></li>
            <li><a id="btn_consultas_propias" href="#" class="tooltipped" data-position="bottom" data-tooltip="Consultas propias"><i class="material-icons">youtube_searched_for</i></a></li>
        </ul>
    </div>
</nav>

<script type="text/javascript" src="../static/js/navbar.js"></script>